.hoverEffect{
    background: white;
    color: black;
    height: 40px;
    border-radius: 7px;
    margin-right: 5px;
  }
  
  .hoverEffect:hover{
    background: black;
    /* border: white; */
    color: white;
  }